# ----------------------------
# Python
# ----------------------------
__pycache__/
*.py[cod]
*$py.class
*.pyo
*.pyd

# ----------------------------
# Virtual Environments
# ----------------------------
venv/
.venv/
env/
ENV/


# ----------------------------
# Environment Variables
# ----------------------------
.env

# ----------------------------
# Packaging
# ----------------------------
build/
dist/
*.egg-info/
.eggs/

# ----------------------------
# Logs & Temp
# ----------------------------
*.log
*.tmp

# ----------------------------
# Testing / Coverage
# ----------------------------
.coverage
.coverage.*
htmlcov/
.pytest_cache/

# ----------------------------
# IDE / Editor
# ----------------------------
.vscode/
.idea/

# ----------------------------
# OS Files
# ----------------------------
.DS_Store
Thumbs.db

# ----------------------------
# Terraform
# ----------------------------
*.tfstate
*.tfstate.*
.terraform/
.terraform.lock.hcl

# ----------------------------
# Misc
# ----------------------------
*.swp